<form method="POST" action="/recipes">

Name: <input name="name"></input> <br>
Ingredients: <input name="ingredients"></input> <br>
Cook Time: <input name="cook_time"></input> <br>
<button type="submit" value="submit">submit</button>

</form>
